@tailwind base;
@tailwind components;
@tailwind utilities;

.animated-bg {
  background: linear-gradient(-45deg, #0f0c29, #302b63, #24243e, #1f1c2c);
  background-size: 400% 400%;
  animation: gradientShift 15s ease infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes shimmer {
  0% {
    background-position: -100%;
  }
  100% {
    background-position: 200%;
  }
}

.shimmer-hover {
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    rgba(255, 255, 255, 0.4) 50%,
    transparent 100%
  );
  background-size: 200% auto;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: background-position 0.8s ease-in-out;
}

.shimmer-hover:hover {
  animation: shimmer 1.5s forwards;
}


html {
  scroll-behavior: smooth;
}

